<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<!-- Contact Details -->
<div class="container">
  <div class="row">
    <div class="col-m-4">
      <img alt="" src="http://assets.stickpng.com/images/585e4bcdcb11b227491c3396.png" class="contact-image-big">
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Name : <span class="fw-bold">Name</span></li>
        <li class="list-group-item list-group-item-danger">Email : <span class="fw-bold">Email</span></li>
        <li class="list-group-item list-group-item-danger">Mobile : <span class="fw-bold">Mobile</span></li>
        <li class="list-group-item list-group-item-danger">Company : <span class="fw-bold">Company</span></li>
        <li class="list-group-item list-group-item-danger">Title : <span class="fw-bold">Title</span></li>
        <li class="list-group-item list-group-item-danger">Group Name : <span class="fw-bold">Group Name</span></li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a class="btn btn-danger" routerLink="/"><i></i>Back</a>
    </div>
  </div>

</div>
